<!-- <section id="year">
  <h1>Your Year as a graph!</h1>
  <time-heatmap></time-heatmap>
</section>
<section>
  <pie-chart [data]="pieChartData"> </pie-chart>
</section> -->

<div class="dashboard-container">
  <div class="main">
    <div class="daily-activity"></div>
    <div class="charts">
      <div class="row">
        <div class="col">
          <div class="placeholder"></div>
          <div class="placeholder"></div>
        </div>
        <div class="placeholder2">
          <app-pie-chart></app-pie-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="side">
    <history></history>
  </div>
</div>
