.dashboard-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    box-sizing: border-box;
    background-color: #232327;


    .main {
        width: 80%;
        height: 100%;

        .daily-activity {
            height: 30%;
            border-radius: 20px;
            padding: 2%;
        }

        .charts {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 2%;
            height: 40%;

            .row {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .col {
                    height: 100%;
                    width: 28%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
            }

        }
    }

    .side {
        width: 20%;
        height: 100%;
        height: 91%;
        padding: 1%;


        .spacer {
            height: 5%;
        }

        .side-image{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}


.placeholder {
    flex-grow: 1;
    max-height: 49%;
    max-width: 100%;
}

.weekly-activity {
    height: 100%;
    width: 70%;
    margin-left: 10px;
    text-align: center;
    
    app-bar-chart{
        height: 80%;
    }
}