<!-- <section id="year">
  <h1>Your Year as a graph!</h1>
  <time-heatmap></time-heatmap>
</section>
<section>
  <pie-chart [data]="pieChartData"> </pie-chart>
</section> -->

<div class="dashboard-container">
  <div class="main">
    <div class="daily-activity">
      <time-heatmap></time-heatmap>
    </div>
    <div class="charts">
      <div class="row">
        <div class="col">
          <div class="placeholder">
            <app-previous-day-stats></app-previous-day-stats>
          </div>
          <div class="placeholder"></div>
        </div>
        <div class="weekly-activity">
          <h2>This week</h2>
          <app-bar-chart></app-bar-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="side">
    <div class="side-image">
      <img src="https://picsum.photos/200" alt="" />
    </div>
    <div class="spacer"></div>
    <app-stats></app-stats>
    <div class="spacer"></div>
    <history></history>
  </div>
</div>
