<h3 class="title">See all current logs</h3>
<hr class="divider" />
<table>
  <thead>
    <th>start_time</th>
    <th>start_height</th>
    <th>end_time</th>
    <th>end_height</th>
  </thead>
  <tbody >
    <tr *ngFor="let entry of completeHistory | async; let i = index" class="log-entry">
      <td class="time">{{ entry.start_time }}</td>
      <td class="height">{{ entry.start_height }}</td>
      <td class="time">{{ entry.end_time }}</td>
      <td class="height">{{ entry.end_height }}</td>
    </tr>
  </tbody>
</table>
