[Unit]
Description=API Service for Smart Desk
After=network.target

[Service]
# Set the working directory to the API folder
WorkingDirectory=/home/raspberry/smart-desk/smart-desk/api

# Use the virtual environment to run the API service
ExecStart=/bin/bash -c 'source /home/raspberry/smart-desk/smart-desk/venv/bin/activate && python main.py'

# Restart on failure
Restart=on-failure

# Set the user and group that the service will run under
User=raspberry
Group=raspberry

[Install]
WantedBy=multi-user.target
