[Unit]
Description=API Service for Smart Desk
After=network.target

[Service]
# Set the working directory to the root of the project
WorkingDirectory=/home/desk/smart-desk

EnvironmentFile=/home/desk/smart-desk/.env

# Set PYTHONPATH to the root and run the script
ExecStart=/bin/bash -c 'export PYTHONPATH=/home/desk/smart-desk && /home/desk/smart-desk/venv/bin/python api/main.py'

# Restart on failure
Restart=on-failure

# Set the user and group that the service will run under
User=desk
Group=desk

# Ensure environment variables are inherited
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
