<div class="all-stats">
  <h1>Your Day</h1>
  <hr class="stat-divider" />
  <div class="stat-container">
    <h3 class="stat-header">Total today</h3>
    <h2 class="stat-value">{{ todaysStandingTime }}</h2>
  </div>
  <hr class="stat-divider" />
  <div class="stat-container">
    <h3 class="stat-header">Your daily goal</h3>
    <h2 class="stat-value">{{ dailyGoal }}</h2>
  </div>
  <hr class="stat-divider" />
  <div class="stat-container">
    <h3 class="stat-header">Other stat</h3>
    <h2 class="stat-value">{{ dailyGoal }}</h2>
  </div>
</div>
