.all-stats {
    text-align: center;

    .stat-divider {
        width: 70%;
    }

    .stat-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .stat-header {
            margin-bottom: 0;
            margin-top: 0;
        }

        .stat-value {
            margin-bottom: 0;
        }
    }
}