<div class="heatmap-wrapper">
  <table>
    <thead>
      <th></th>
      <th
        *ngFor="let month of MONTHS"
        class="table-header"
        [attr.colspan]="getMonthColWidth(month)"
      >
        {{ month }}
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let week of [1, 2, 3, 4, 5, 6, 0]">
        <th>
          <span>
            {{ WEEKDAYS[week] | slice : 0 : 2 }}
          </span>
        </th>
        <td
          *ngFor="let day of getAllDaysByDayOfWeek(week, year)"
          [ngClass]="getClassname(day)"
        >
          <div
            *ngIf="day.getFullYear() != 1970"
            class="box"
            [attr.data-level]="getDayLevel(day)"
          ></div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="legend">
    <div class="label">Less</div>
    <div
      class="box"
      *ngFor="let level of [0, 1, 2, 3, 4]"
      [attr.data-level]="level"
      matTooltip="{{ level * 0.25 * 60 + 'min' }}"
    ></div>
    <div class="label">More</div>
  </div>
</div>
